[Unit]
AssertPathExists=/usr/bin/riklet

[Service]
WorkingDirectory=~
EnvironmentFile=/tmp/.rikletconf
ExecStart=/usr/bin/riklet $ARG1
Restart=always
PrivateTmp=true
NoNewPrivileges=true
RestartSec=3

[Install]
Alias=riklet
WantedBy=default.target